MAILTO="exception@dseye.ru"

00 * * * *   php7.2 ~/app/app/zfcli.php -a onlinestat >> ~/app/logs/cron.log
05 04 * * *   php7.2 ~/app/app/zfcli.php -a scavenger >> ~/app/logs/cron.log
05 */2 * * *   php7.2 ~/app/app/zfcli.php -a csv >> ~/app/logs/cron.log

55 23 * * *  php7.2 ~/dseye/app/zfcli.php -a day >> ~/logs/dseye/cron.log

* 0-3,5-23 * * * php ~/dseye/app/zfcli.php -a up >> ~/logs/dseye/cron.log
* 0-3,5-23 * * * php ~/dseye/app/zfcli.php -a oldranks >> ~/logs/dseye/cron.log
* 0-3,5-23 * * * php ~/dseye/app/zfcli.php -a newranks >> ~/logs/dseye/cron.log
*/2 0-3,5-23 * * * php ~/dseye/app/zfcli.php -a nra>> ~/logs/dseye/cron.log
*/3 0-3,5-23 * * * php ~/dseye/app/zfcli.php -a gate >> ~/logs/dseye/cron.log