SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
HOME=/home/esemi/
MAILTO=""

00 * * * *   php ~/dseye/app/zfcli.php -a onlinestat >> ~/logs/dseye/cron.log
25 04 * * *  php ~/dseye/app/zfcli.php -a scavenger  >> ~/logs/dseye/cron.log
05 * * * *   php ~/dseye/app/zfcli.php -a csv >> ~/logs/dseye/cron.log
55 23 * * *  php ~/dseye/app/zfcli.php -a day >> ~/logs/dseye/cron.log

* 0-3,5-23 * * * php ~/dseye/app/zfcli.php -a up >> ~/logs/dseye/cron.log
* 0-3,5-23 * * * php ~/dseye/app/zfcli.php -a oldranks >> ~/logs/dseye/cron.log
* 0-3,5-23 * * * php ~/dseye/app/zfcli.php -a newranks >> ~/logs/dseye/cron.log
*/3 0-3,5-23 * * * php ~/dseye/app/zfcli.php -a dshelpra>> ~/logs/dseye/cron.log
*/2 0-3,5-23 * * * php ~/dseye/app/zfcli.php -a nra>> ~/logs/dseye/cron.log
*/3 0-3,5-23 * * * php ~/dseye/app/zfcli.php -a gate >> ~/logs/dseye/cron.log