SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
HOME=/home/esemi/
MAILTO=""

30 04 */7 * * /home/esemi/cron/backup_dseye.sh >> /dev/null

00 * * * *   php /home/esemi/dseyenew/app/zfcli.php -a onlinestat >> /home/esemi/logs/dseye/cron.log
25 04 * * *  php /home/esemi/dseyenew/app/zfcli.php -a scavenger  >> /home/esemi/logs/dseye/cron.log
05 * * * *   php /home/esemi/dseyenew/app/zfcli.php -a csv >> /home/esemi/logs/dseye/cron.log
55 23 * * *  php /home/esemi/dseyenew/app/zfcli.php -a day >> /home/esemi/logs/dseye/cron.log

* 0-3,5-23 * * * php /home/esemi/dseyenew/app/zfcli.php -a up >> /home/esemi/logs/dseye/cron.log
* 0-3,5-23 * * * php /home/esemi/dseyenew/app/zfcli.php -a oldranks >> /home/esemi/logs/dseye/cron.log
* 0-3,5-23 * * * php /home/esemi/dseyenew/app/zfcli.php -a newranks >> /home/esemi/logs/dseye/cron.log
*/3 0-3,5-23 * * * php /home/esemi/dseyenew/app/zfcli.php -a dshelpra>> /home/esemi/logs/dseye/cron.log
*/2 0-3,5-23 * * * php /home/esemi/dseyenew/app/zfcli.php -a nra>> /home/esemi/logs/dseye/cron.log
*/5 0-3,5-23 * * * php /home/esemi/dseyenew/app/zfcli.php -a gate >> /home/esemi/logs/dseye/cron.log